/* app/globals.css */
@import 'tailwindcss';

:root{
  --primary:#CB3A1A;
  --secondary:#111111;
  --paragraph:#74787C;
  --white:#ffffff;
}

@theme {
  --color-primary-color:var(--primary);
  --color-secondary-color:var(--secondary);
  --color-paragraph-color:var(--primary);
  --color-white-color:var(--primary);

  
}


body {
  @apply bg-white text-black transition-colors duration-300 max-w-[1920px] w-full ;
}

.dark body {
  @apply bg-neutral-900 text-white;
}


.between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
}

.H1{
  font-size: 66px;
  line-height: 76px;
}
.H2{
  font-size: 48px;
  line-height: 58px;
}
.H3{
  font-size: 36px;
  line-height: 46px;
}
.H4{
  font-size: 30px;
  line-height: 40px;
}
.H5{
  font-size: 24px;
  line-height: 34px;
}
.H6{
  font-size: 20px;
  line-height: 30px;
}

.para{
  font-size: 16px;
  line-height: 26px;

}